.about-bg
{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(135, 158, 132, 0.7), rgba(135, 158, 132, 0.7)),url('../../assets/home.gif');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text
{
    padding:10%;
    color: #FFEEDB;
    text-align: center;
    max-width: 800px;
}

.about-text h1
{
    font-size: 40px;
}

.about-text p
{
    margin-top: 5px;
    margin-bottom: 15px;
}

